<!DOCTYPE html>
<html>
<head>
    <title>Dopper effect</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='dopper.js')}}"></script>
</head>
<body>

<canvas id="dopper_canvas" width="420" height="420" style="position:relative;" data-imgsrc="{{ url_for('static',filename='star-small.png')}}"></canvas>
<div>
    <label for="velocity_input">Velocity (km/s)</label>
    <input type="number" name="velocity_input" id="velocity_input" value="0" min="-100" max="100" pattern="[0-9]{3}"/>
    <input type="range" name="velocity_slider" id="velocity_slider" min="-100" max="100" oninput="slider_change(this.value)"/>
</div>

</body>
</html>
